{% extends 'base.html' %}

{% block page_title %}
    Tipos de Funcionários
{% endblock %}

{% block content %}

<h1>Funções</h1>
<a href="{% url 'criar_tipo_funcionario' %}" class="btn btn-primary">Cadastrar novo tipo de usuário</a>
<h2>Lista de cargos</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Função</th>
      <th scope="col">Descrição</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for tipo_funcionario in object_list %}
    <tr>
      <th scope="row">{{tipo_funcionario.pk}}</th>
      <td>{{tipo_funcionario.funcao}}</td>
      <td>{{tipo_funcionario.descricao}}</td>
      <td>
        <a href="{% url 'atualizar_tipo_funcionario' pk=tipo_funcionario.pk %}" class="btn btn-primary btn-sm">Editar</a>
        <a href="{% url 'apagar_tipo_funcionario' pk=tipo_funcionario.pk %}" class="btn btn-danger btn-sm">Apagar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}