{% extends 'base.html' %}
{% load bootstrap4 %}

{% block page_title %}
Clientes
{% endblock %}

{% block content %}

<h1>Cadastro de Clientes</h1>
<form method="post">
    {% csrf_token %}
    <h2>Dados pessoais</h2>
    {% bootstrap_form form %}
    <hr>
    <h2>Contato</h2>
    {% bootstrap_form contato_form %}
    <hr>
    <h2>Endereço</h2>
    {% bootstrap_form endereco_form %}
    <input type="submit" value="Salvar" class="btn btn-primary">
    <a href="{% url 'lista_clientes' %}" class="btn btn-secondary">Voltar</a>
</form>

{% endblock %}