{% extends 'base.html' %}

{% block page_title %}
    Clientes
{% endblock %}

{% block content %}
<h1>Clientes</h1>
<a href="{% url 'criar_cliente' %}" class="btn btn-primary">Cadastrar novo Cliente</a>
<h2>Lista de Clientes</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Tipo documento</th>
      <th scope="col">Nº Documento</th>
      <th scope="col">Tipo pessoa</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for cliente in object_list %}
    <tr>
      <th scope="row">{{cliente.pk}}</th>
      <td>{{cliente.nome}}</td>
      <td>{{cliente.tipo_documento}}</td>
      <td>{{cliente.documento}}</td>
      <td>{{cliente.tipo_pessoa}}</td>
      <td>
        <a href="{% url 'detalhes_cliente' pk=cliente.pk %}" class="btn btn-secondary btn-sm">Visualizar</a>
        <a href="{% url 'atualizar_cliente' pk=cliente.pk %}" class="btn btn-primary btn-sm">Editar</a>
        <a href="{% url 'apagar_cliente' pk=cliente.pk %}" class="btn btn-danger btn-sm">Apagar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}