{% extends 'base.html' %}

{% block page_title %}
    Funcionários
{% endblock %}

{% block content %}
<h2>Novo registro</h2>
<a href="{% url 'criar_habilidade' %}" class="btn btn-primary">Cadastrar nova habilidade</a>
<h1>Habilidades</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table>
{% endblock %}