{% extends 'base.html' %}

{% block page_title %}
    Funcionários
{% endblock %}

{% block content %}
<h1>Funcionário #{{funcionario.pk}} - {{funcionario.username}}</h1>
<h2>Dados pessoais</h2>
<ul>
    <li>Nome: {{funcionario.first_name}} {{funcionario.last_name}}</li>
    <li>Sexo: {{funcionario.sexo}}</li>
    <li>Data de Nascimento: {{funcionario.data_nascimento}}</li>
    <li>CPF: {{funcionario.cpf}}</li>
    <li>Salário: R${{funcionario.salario}}</li>
    <li>Telefone: {{funcionario.telefone}}</li>
</ul>
<h2>Endereço</h2>
<p>Rua {{funcionario.endereco.logradouro}}, {{funcionario.endereco.numero}}, 
    {{funcionario.endereco.bairro}}, {{funcionario.endereco.cidade}} - {{funcionario.endereco.uf}}. CEP: {{funcionario.endereco.cep}}</p>
<h2>Cargo</h2>
<ul>
    <li>{{funcionario.get_cargo_display}}</li>
</ul>
<h2>Habilidades</h2>
<ul>
    {% for habilidade in funcionario.habilidades.all %}
    <li>{{habilidade.nome}}</li>
    {% endfor %}
</ul>
<h2>Sistema</h2>
<ul>
    <li>{{funcionario.criado_em}}</li>
    <li>{{funcionario.modificado_em}}</li>
</ul>
<hr>
<a href="{% url 'lista_funcionarios' %}" class="btn btn-secondary">Voltar</a>
{% endblock %}