{% extends 'base.html' %}

{% block page_title %}
    Funcionários
{% endblock %}

{% block content %}
<h1>Projeto #{{projeto.pk}} - Nome: {{projeto.nome}}</h1>
<h2>Dados do projeto</h2>
<ul>
    <li>Status: {{projeto.status}}</li>
    <li>Ativo: {{projeto.is_ativo}}</li>
    <li>Descrição: {{projeto.descricao}}</li>
    <li>Custo: R${{projeto.custo}}</li>
    <li>Data prevista para entrega: {{projeto.data_entrega_prevista}}</li>
    <li>Data real da entrega: {{projeto.data_entrega_real}}</li>
</ul>
<h2>Atores</h2>
<ul>
    <li>Cliente: {{projeto.cliente.nome}}</li>
    <li>Gerente: {{projeto.gerente.username}}</li>
</ul>
<h2>Dados do Sistema</h2>
<ul>
    <li>{{projeto.criado_em}}</li>
    <li>{{projeto.modificado_em}}</li>
</ul>
<hr>
<a href="{% url 'lista_projetos' %}" class="btn btn-secondary">Voltar</a>
{% endblock %}